:root{
  --pink:#e84393;  
}


*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline:none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font: size 50%; 
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51,150, .05);
}
.heading span{
  color: var(--pink);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: blanchedalmond;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.btn:hover{
background: var(--pink);

}

header{
position: fixed;
top:0; left:0;right:0;
background: white;
padding: 1rem 9%;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1000;
box-shadow: 0 .5rem  1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 1.5rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
color: var(--pink);
}

header .navbar a{
   font-size: 1.5rem;
   padding: 0 1.5rem;
   color: #666;
}

header .navbar a:hover{
    color: var(--pink);
}

header .icon a{
    font-size: 1.5rem;
    color: #333;
    margin-left: 1.5rem;
}
header .icon a:hover{
    color:var(--pink);
}

header #toggler{
display: none;
}
header .fa-bars{
    font-size: 1.5rem;
    color: #333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border: 1rem solid rgba(0,0,0,.3);
    display: none;

}
.home{
    display: flex;
    align-items: center;
    min-height: 85vh;
    background: url(background.webp) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 4rem;
    color: rgb(27, 27, 27);

}

.home .content span{
    font-size: 2rem;
    color: pink;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1rem;
    color: pink;
    padding: 1rem 0;
    line-height: 1.5;
}
.about .row{
display:flex;
align-items:center;
gap:2rem;
flex-wrap:wrap;
padding:2rem 0;
padding-bottom:3rem ;
}

.about .row .video-container{ 
    flex:1 1 25rem;
    position:relative;
}

.about .row .video-container video{
   width: 80%;
   border:1.5rem solid #fff;
   border-radius:.5rem;
   box-shadow:0 .5rem rgba(0,0,0,.1);
   height:50%;
   object-fit: cover;
}
.about .row .video-container h3{
    position: absolute;
    top: 70%; transform: translateY(-50%);
    font-size: 2rem;
    background: #fff;
    width: 80%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode:screen;
}

.about .row .content{
flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #333;
}


.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding-top: 5rem 0;
    line-height: 1.5rem;
}

.icon-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.icon-container .icons{
     background: #fff;
     border: .1rem solid rgba(0,0,0,.1);
     padding: 2rem;
     display: flex;
     align-items: center;
     flex:1 1 25rem;
}

.icon-container .icons img{
    height: 5rem;
    margin-right: 2rem;
}
.icon-container .icons h3{
    color: #333;
    padding-bottom: 5rem;
    font-size: 1.5rem;

}
.icon-container .icons span{
    color: #555;
    font-size: 1.3rem;
}
.products .box-container{
display:flex;
flex-wrap: wrap;
gap:1.5rem; 
  }

.products .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
}

.products .box-container .box .Discount{
    position:absolute ;
    top: 1rem ; right: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgba(255, 51,150, .05);
    z-index: 1;
    border-radius: .5rem;
}
.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
position: absolute;
bottom:-7rem; left: 0; right: 0;
display: flex;
}

.products .box-container .box:hover .image .icons{
bottom: 0;

}
.products .box-container .box .image .icons a{
height: 2rem;
line-height: 2rem;
font-size: 1.5rem;
width: 50%;
background: var(--pink);
color: #fff;
}

.products .box-container .box .image .icons .fas fa-shopping-cart{
border-left: .1rem solid #fff7;
border-right: .1rem  solid #fff7;
width: 100%;

}

.products .box-container .box .image .icons a:hover{
background: #333;

}
.products .box-container .box .content{
padding:2rem;
text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2rem;
    color: #333;

}

.products .box-container .box .content .price{
    font-size: 1.5rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem; 
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
text-decoration: line-through;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0,0,0,.1);
    
}
.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container .box .stars i{
    color: var(--pink);
    font-size: 2rem;

}

.review .box-container .box .stars p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
    
}
.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 1.5rem;
    color: #333;
}
.review .box-container .box .user span{
    font-size: 1.5rem;
    color: #999;
}

.content .row{
    display:flex;
    flex-wrap: wrap;
    gap: 1.5rem;  
    align-items: center;
}

 .content .row form{
  flex: 1 1 40rem;
  padding: 2rem 2.5;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border: .1rem solid rgba(0,0,0,.1);
  background: #fff;
  border-radius: .5rem;
 } 
 .content .row image{
    flex:1 1 40rem
 }
 .content .row image img{
 width:100%
 }
 .content .row form .box{
    padding: 1rem;
    font-size:  1.7rem;
    color: #333;
    text-transform: none;
    border:  .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:  .7rem 0;
 }
    
 .content .row form .box:focus{
  border-color: var(--pink);

 }
 .content .row form textarea{

    height: 15rem;
    resize: none;
 }
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{ 
    flex:1 1 25rem;
}
.footer .box-container .box h3{ 
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}
.footer .box-container .box a{ 
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.footer .box-container .box a:hover{
    color: var(--pink);
    text-decoration: underline;
 }

@media only screen and(max-width:1280px){
    .col-md-1{
        width:8.66%;
    }
     .col-md-2{
        width:16.66%
     }
     .col-md-3{
        width: 25%;
     }
      .col-md-4{
        width: 33.33%;
      }
       .col-md-5{
        width: 41.66%;
       }
       .col-md-6{
        width: 50%;
       }
       .col-md-7{
        width: 66.66%;
       }
        .col-md-8{width: 66.6%;}
}